@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');


body, html {
    font-family: 'Abril Fatface', serif;
    overflow-x: hidden;
    background-image: url('Imagenes/background-movile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;

    scroll-behavior: smooth;
}


h1, h2, p, b {
    margin: 0;
}


.header-li-dekstop {
    display: none;
}

.header {
    position: fixed;
    z-index: 20;
}

.header-container {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;

    top: -1px;
    right: -6px;
    width: 102vw;
    height: 87px;
    background-color: #2D2424;
    color: #fff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);

    z-index: 20;
}

.header-container img {
    width: 70px;
    margin-left: 4vw;
}

.header-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 35px;
    right: 45px;

    width: 10px;
    height: 10px;
    padding: 5px;
}

.header-menu img {
    margin-right: 20px;
    background-color: #b4a5a550;
    box-shadow: rgba(0, 0, 0, 0.904) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(122, 51, 113, 0.35) 0px -2px 6px 0px inset;
    border-radius: 6px;

    width: 45px;
    height: 45px;
    pointer-events: none;
}

.header-li {
    position: fixed;
    left: 0;
    top: 83px;
    right: -1px;
    left: -1px;
    padding-right: 5px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 94vh;
    
    background: linear-gradient(0deg, #5d4b4b 0%, #2D2424 100%);
    z-index: 5;
}

.header-li-a {
    font-family: 'DM Serif Display', serif;
    text-decoration: none;
    text-shadow: 1.5px 1.5px 0px #000;
    color: #fff;

    letter-spacing: 1.5px;
    font-size: 26px;
}

.header-li {
    display: none;
}

.open {
    display: flex !important;
    z-index: 5;

    animation: entryLeft 0.3s ease 0s 1 normal forwards;
}

@keyframes entryLeft {
	0% {
		transform: scaleY(0);
		transform-origin: 100% 0%;
	}

	100% {
		transform: scaleY(1);
		transform-origin: 100% 0%;
	}
}



#servicios, 
#nosotros, 
#ubicacion, 
#contacto {
    scroll-margin-top: 70px;
}

#estilos {
    scroll-margin-top: 80px;
}




.first-section {
    background-color: #00000094;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-align: center;
}


.first-section h1 {
    font-family: 'Tilt Prism', sans-serif;
    color: #ffffff;
    text-shadow: 3px 3px 10px #000000;
    font-size: 60px;
    margin: 0;

    opacity: 0;
    animation: entranceLeft 3s ease 0s 1 normal forwards;
}

.first-section p {
    font-family: 'DM Serif Display', serif;
    color: #ccb269;
    text-shadow: 4px 4px 0px #000000;
    font-size: 40px;
    margin: 0;
    font-weight: bold;

    opacity: 0;
    animation: entranceRight 3s ease 0.5s 1 normal forwards;
}

.first-section img {
    width: 350px;
    
    opacity: 0;
    animation: entranceBottom 3s ease 1s 1 normal forwards;
}







.second-section {
    background-color: #E0C097;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.second-section__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.second-section__frase {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 20px 50px 0;
    max-width: 500px;
    color: #000000;
    font-size: 24px;
    text-align: center;
}

.nach {
    color:  rgb(95, 20, 20);
    text-shadow: 1px 1px #000;
}

.second-section__lista-precios {
    background-color: #000;
    border-radius: 8px;
    border: 2px solid rgb(90, 16, 16);
    box-shadow: 0px 0px 0px 2px rgb(59, 11, 11), 8px 8px 0px 0px rgba(83,83,83,1);
    margin: 20px 10px 30px;

    max-width: 350px;
}


.second-section__lista-precios p {
    color: #fff;
    font-size: 24px;
    margin: 15px;
    text-align: center;
}

.descuento {
    color: #f7cd5a;
}

.second-section__lista-precios-cont {
    display: flex;
    justify-content: space-evenly;
    align-items: center;   
}

.second-section__precios-1 p {
    margin: 10px;
}
.second-section__precios-2 p {
    margin: 10px;
}

.second-section__orden-llegada {
    background-color: #000;
    padding: 10px;
    margin: 0px 50px 30px;
    border: 2px solid rgb(34, 6, 6);
    border-radius: 8px;
    box-shadow: 0px 0px 0px 2px rgb(34, 6, 6), 8px 8px 0px 0px rgba(83,83,83,1);
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.second-section__img img {
    width: 90vw;
    max-width: 500px;
    margin: 20px 10px;
    
    box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45), 25px 0 20px -20px rgba(0, 0, 0, 0.45), 0px 25px 20px -20px rgba(0, 0, 0, 0.45), -25px 0 20px -20px rgba(0, 0, 0, 0.45);
    border: 2px solid #00000068;
    border-radius: 16px;
}







.third-section {
    background-color: rgb(44, 44, 44);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.third-section__cartel-equipo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #000000;

    margin: 20px 0 10px;
    
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    
    border: 2px solid rgb(90, 16, 16);
    color: #fff;
    border-radius: 16px;
    font-size: 18px;
}

.third-section__cartel-equipo img {
    width: 10px;
    height: 30px;
    margin: 10px 15px;
}

.third-section__carta-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.third-section__carta {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    margin: 5px 0;
    background-color: #030303;
    width: 70vw;
    max-width: 300px;
    height: 400px;

    color: #fff;
    border-radius: 24px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: 2px solid rgba(90, 16, 16, 0.452);
}

.carta2 {
    margin-bottom: 20px;
}

.third-section__carta img {
    height: 100px;
    border-radius: 50%;
    border: 2px solid rgb(90, 16, 16);
    box-shadow: 0px 0px 3px #ffffff1b;
}

.third-section__carta h2 {
    margin-bottom: -25px;
}

.third-section__carta p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    height: 200px;
    text-align: center;
    margin: 0 30px;
    line-height: 2;
}

.artista,
.vikingo {
    color: #f7cd5a;
    font-size: 20px;
}







.fourth-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #E0C097;
}

.fourth-section__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.fourth-section a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000077;
    
    width: 90vw;
    max-width: 400px;
    height: 250px;
    margin: 5px 0;
    
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    text-shadow: 2px 2px 3px #000000;
    box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45), 25px 0 20px -20px rgba(0, 0, 0, 0.45), 0px 25px 20px -20px rgba(0, 0, 0, 0.45), -25px 0 20px -20px rgba(0, 0, 0, 0.45);
    border: 2px solid #00000068;
    border-radius: 16px;
}

.fourth-section__cortes {
    background-image: url(Imagenes/Cortes/Corte-1.jpeg);
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    max-width: 400px;
    height: 250px;
    text-align: center;
    margin: 20px 5px 5px;

    border-radius: 16px;
}


.fourth-section__dise単os {
    background-image: url(Imagenes/Dise単os/dise単o-1.jpg);
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    max-width: 400px;
    height: 250px;
    text-align: center;
    margin: 5px;

    border-radius: 16px;
}


.fourth-section__barba {
    background-image: url(Imagenes/Barbas/barba-1.jpeg);
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 250px;
    text-align: center;
    margin: 5px;
    max-width: 400px;

    border-radius: 16px;
}


.fourth-section__productos {
    background-image: url(Imagenes/Productos/productos-1.jpeg);
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 90vw;
    height: 250px;
    margin: 5px;
    max-width: 400px;

    text-align: center;

    border-radius: 16px;
}


.fourth-section__socios {
    margin: 10px 60px 20px;
    max-width: 400px;
    background-color: #000;
    padding: 10px;
    border: 2px solid rgb(34, 6, 6);
    border-radius: 8px;
    box-shadow: 0px 0px 0px 2px rgb(34, 6, 6), 8px 8px 0px 0px rgba(83,83,83,1);
    color: #fff;
    font-size: 20px;
    text-align: center;
}


.amarillo {
    color: #f7cd5a;
    margin-left: 5px;
}

.google_maps {
    margin-bottom: -4px;
}


footer {
    background-color: #000;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.footer-redes p {
    display: flex;
    justify-content: center;
    
    color: #fff;
    margin: 20px 0 0;
    font-size: 20px;
    font: bold;
}

.footer-redes__img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-redes__img img {
    margin: 10px 10px 10px;
    height: 35px;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo p {
    color: #fff;
    font-size: 18px;
    margin: 0;
    margin: 10px 0 20px;
}


.item {
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.visible {
    opacity: 1;
}


.dekstop {
    display: none;
}




@media (min-width:800px) {
    .dekstop {
        display: flex;
    }

    .third-section__carta-container {
        flex-direction: row;
    }

    .third-section__carta {
        margin: 5px 5vw 20px;
    }





    .fourth-section a,
    .fourth-section__barba,
    .fourth-section__cortes,
    .fourth-section__dise単os,
    .fourth-section__productos {
        width: 45vw;
        max-width: 700px;
        height: 300px;
    }

    .fourth-section a {
        font-size: 30px;
    }

    .fourth-section__container {
        flex-direction: row;
    }

    .fourth-section__sub-cont {
        margin-top: 15px;
    }

    .fourth-section__margin {
        padding: 1px;
    }

    .fourth-section__socios {
        font-size: 24px;
        max-width: 700px;
    }

    .mobile {
        display: none;
    }

    
}


@media (min-width: 1100px) {
    
    body, html {
        background-image: url(Imagenes/background2.jpeg);
    }

    .header-menu {
        display: none;
    }

    .header-li-dekstop {
        display: flex;
    }

    .header-li-a {
        font-size: 20px;
        margin: 0 20px;
    }

    .last-child-header {
        margin-right: 3vw;
    }


    .first-section h1 {
        font-size: 70px;
    }

    .first-section p {
        font-size: 50px;
    }

    .first-section img {
        width: 400px;
    }


    .second-section {
        flex-direction: row;
    }

    .mobile {
        display: none;
    }
}



@media (min-height: 800px) {
    .header-container {
        height: 100px;
    }


    .header-menu {
        top: 10px;
    }


    .first-section h1 {
        font-size: 90px;
    }

    .first-section p {
        font-size: 60px;
    }

    .first-section img {
        width: 500px;
    }


    .second-section__frase {
        font-size: 35px;
    }


    .second-section__lista-precios p {
        font-size: 30px;
    }



    .third-section__cartel-equipo {
        font-size: 26px;
    }

    .third-section__cartel-equipo img {
        width: 20px;
        height: 50px;
    }

    .third-section__carta {
        height: 500px;
    }

    .third-section__carta img {
        height: 150px;
        margin: 20px;
    }

    .third-section__carta h2 {
        font-size: 30px;
    }

    .artista,
    .vikingo {
        font-size: 25px;
    }

    .third-section__carta p {
        font-size: 22px;
        line-height: 1.5;
        height: 250px;
    }



    .fourth-section p {
        font-size: 30px;
    }



    .footer-redes p {
        font-size: 25px;
    }

    .footer-redes__img img {
        height: 40px;
    }

    .footer-logo p {
        font-size: 25px;
    }
}


/* ANIMACIONES */


@keyframes entranceLeft {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes entranceRight {
	0% {
		opacity: 0;
		transform: translateX(250px);
	}
    
	100% {
        opacity: 1;
		transform: translateX(0);
    }
}

@keyframes entranceBottom {
	0% {
		opacity: 0;
		transform: translateY(250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}



.animation{
    transition: transform .8s ease;
}

.animation:hover {
    cursor: pointer;
    transform: scale(1.02);
}



.header-li-a {
    position: relative;
    text-decoration: none;
    transition: color 0.5s ease;
}

.header-li-a:hover {
    color: #ffffff;
    text-shadow: 1px 1px 5px #ffffff49;
}

.header-li-a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -1px;
    left: 0;
    background-color: rgb(255, 255, 255);
    visibility: hidden;
    transition: width 0.3s ease, visibility 0.3s ease;
}

.header-li-a:hover::after {
    width: 100%;
    visibility: visible;
}


.animation-entry-1s {
    opacity: 0;
    animation: entry 1s ease-in forwards;
}

.animation-entry-2s {
    opacity: 0;
    animation: entry 2s ease-in forwards;
}

.animation-entry-2-5s {
    opacity: 0;
    animation: entry 2.5s ease-in forwards;
}

@keyframes entry {
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



#animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    animation: fadeOut 1.5s ease-out forwards;
    z-index: 4000;
    pointer-events: none;
}

#animation .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    opacity: 1;
    animation: fadeIn 0.5s ease-in-out forwards;
    animation: fadeOut 1.2s ease-out forwards;
}

#animation .logo img {
    width: 200px;
    height: auto;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}